<% if (hasReport) { %>
<div class="main-header">
    <div class="container">
        <h1 class="report-title action-report-select"><%- report.get("title") %></h1>
    </div>
</div>
<div class="main-toolbar">
    <div class="group-actions primary">
        <button class="btn btn-link action-report-create" title="Create a report"><span class="octicon octicon-pulse"></span></button>
        <button class="btn btn-link action-visualization-create" title="Edit"><span class="octicon octicon-plus"></span></button>
        <button class="btn btn-link action-alert-manage" title="Manage alerts"><span class="octicon octicon-rss"></span></button>
        <button class="btn btn-link action-alert-create" title="Create an alert"><span class="octicon octicon-mail"></span></button>
        <button class="btn btn-link action-report-edit" title="Edit"><span class="octicon octicon-gear"></span></button>
    </div>
    <div class="group-actions secondary">
        <a href="https://github.com/Reportr/dashboard" class="btn btn-link" target="_blank" title="Help"><span class="octicon octicon-question"></span></a>
        <button class="btn btn-link action-report-remove" title="Remove"><span class="octicon octicon-trashcan"></span></button>
    </div>
</div>
<div class="main-container">
    <div class="main-body">
        <div class="report-body"></div>
    </div>
</div>
<% } else { %>
<div class="main-start">
    <div class="message-no-reports">
        <div class="icon">
            <span class="octicon octicon-pulse"></span>
        </div>
        <p>There is no reports yet to show.</p>
        <p>
            <button class="btn btn-default btn-lg action-report-create">Create a report</button>
        </p>
    </div>
</div>
<% } %>