<header>
    <div class="container">
        <div class="pull-right">
            <div class="btn-group">
                <button type="button" class="btn btn-default action-create-model" title="Create a new model"><span class="octicon octicon-plus"></span></button>
                <button type="button" class="btn btn-default action-create-alert" title="Create an alert"><span class="octicon octicon-mail"></span></button>
            </div>
        </div>
        <h1>reportr</h1>
    </div>
</header>