.visualization.visualization-value {
    margin: 45px 15px;
    text-align: center;

    p {
        margin: 0px;
    }

    .value {
        font-size: 30px;
        font-weight: bold;

        color: @brand-primary;
    }

    .value-label {
        margin-top: 15px;
        font-size: 18px;
    }
}
