#dashboard {
	position: fixed;
	bottom: 0px;
	left: 0px;
	right: 0px;
	top: 0px;
	background: #eee;

	#lateralbar {
		position: absolute;
		bottom: 0px;
		left: 0px;
		top: 0px;
		width: 280px;
		z-index: 10;
		background: #3498db;
		.transition(all .4s);
		overflow: hidden;

		/* Search bar for models */
		.search {
			position: absolute;
			right: 10px;
			left: 10px;
			top: 10px;
			width: auto;
			background: #fff;
			outline: none !important;
			border: none;
			color: #2980b9;
			padding: 8px;
		}

		.footer {
			position: absolute;
			bottom: 0px;
			left: 0px;
			right: 0px;
			padding: 10px;
			background: #2ecc71;

			/* Actions */
			.menu-action {
				display: inline-block;
				width: 30px;
				height: 30px;
				color: #fff;
				line-height: 30px;
				font-size: 30px;
				opacity: 0.6;
				text-align: center;
				margin: 0px 8px;

				&:hover {
					text-decoration: none;
					opacity: 1;
				}
			}
		}
		

		/* Models */
		.models {
			position: absolute;
			right: 10px;
			left: 10px;
			bottom: 50px;
			top: 60px;
		}
	}

	#body {
		position: absolute;
		bottom: 0px;
		right: 0px;
		top: 0px;
		left: 280px;
		padding: 15px;
		overflow-y: auto;
	}
}