.reports {
	margin: 0px 15px;
	.clearfix();

	.reports-empty {
		margin-top: 50px;
		max-width: 400px;
		margin-right: auto;
		margin-left: auto;
		text-align: center;

		color: #333;

		p {
			font-size: 16px;
		}

		.icon {
			font-size: 100px;
			line-height: 120px;
			opacity: 0.6;
		}
	}

	.report {
		padding: 6px;
		display: block;
		float: left;

		&.layout-large {
			width: 100%;
		}
		&.layout-medium {
			width: 50%;
		}

		.report-inner {
			background: #fff;
			border: 1px solid #ddd;
			border-radius: 8px;
			padding: 0px;
			overflow: hidden;

			.report-header {
				padding: 15px;
				background: #f8f8f8;
				border-bottom: 1px solid #ddd;
				.clearfix();

				.model-icon {
					float: left;
					margin-right: 10px;
					width: 48px;
					height: 48px;
				}

				.model-name {
					margin: 0px;
					font-weight: 200;
				}

				.model-description {
					overflow: hidden;
					text-overflow: ellipsis;
					white-space: nowrap;
				}
			}

			.report-options {
				padding: 15px;
				background: #f5f5f5;
				border-bottom: 1px solid #ddd;
				display: none;
				.clearfix();

				select {
					margin: 8px 5px;
				}

				.select-properties {
					.checkbox {
						display: inline-block;
						margin: 10px;
					}
				}
			}

			.report-body {
				padding: 15px;
			}
		}

		&.mode-options {
			.report-options {
				display: block;
			}
		}
	}
}