.reports {
	margin: 0px 15px;
	.clearfix();

	&.mode-settings {
		.reports-list {
			display: none;
		}
		.settings {
			display: block;
		}
	}

	.report {
		padding: 6px;
		display: block;
		float: left;

		width: 100%;

		@media (min-width: 1280px) {
			&.layout-medium {
				width: 50%;
			}
		}

		.report-inner {
			background: #fff;
			border: 1px solid #ddd;
			border-radius: 8px;
			padding: 0px;
			overflow: hidden;

			.report-header {
				padding: 15px;
				background: #f8f8f8;
				border-bottom: 1px solid #ddd;
				.clearfix();

				.model-icon {
					float: left;
					margin-right: 10px;
					width: 32px;
					height: 32px;
				}

				.model-name {
					margin: 0px;
					font-weight: 200;
				}
			}

			.report-footer {
				padding: 15px;
				background: #f8f8f8;
				border-top: 1px solid #ddd;
				.clearfix();

				.model-description {
					margin: 0px;
				}
			}

			.report-options {
				padding: 15px;
				background: #f5f5f5;
				border-bottom: 1px solid #ddd;
				display: none;
				.clearfix();

				select {
					margin: 8px 5px;
				}

				.select-properties {
					.checkbox {
						display: inline-block;
						margin: 10px;
					}
				}
			}

			.report-body {
				padding: 15px;
			}
		}

		&.mode-options {
			.report-options {
				display: block;
			}
		}
	}

	.settings {
		display: none;
	}
}