<div id="homepage">
	<div id="intro">
		<div class="intro-inner row">
			<div class="intro-title col-xs-12 col-sm-12 col-md-12 col-lg-7">
				<h1>Reportr</h1>
				<p>Your life's personal dashboard.</p>
				<p class="links"><a href="#" class="action-signup">Sign In</a> or <a href="https://github.com/SamyPesse/reportr">Install your own</a></p>
			</div>
			<div class="intro-forms col-xs-12 col-sm-12 col-md-12 col-lg-4">
				<form class="form-login" role="form">
					<div class="form-group">
						<label class="sr-only" for="email">Email address</label>
						<input type="email" class="form-control" id="email" placeholder="Enter email">
					</div>
					<div class="form-group">
						<label class="sr-only" for="password">Password</label>
						<input type="password" class="form-control" id="password" placeholder="Password">
					</div>
					<button type="submit" class="btn btn-default">Log in</button> or <a class="action-signup">sign up</a>
				</form>
				<form class="form-signup" role="form" style="display: none;">
					<div class="form-group">
						<label class="sr-only" for="email">Email address</label>
						<input type="email" class="form-control" id="email" placeholder="Enter email">
					</div>
					<div class="form-group">
						<label class="sr-only" for="password">Password</label>
						<input type="password" class="form-control" id="password" placeholder="Password">
					</div>
					<div class="form-group">
						<label class="sr-only" for="confirmPassword">Confirm Password</label>
						<input type="password" class="form-control" id="confirmPassword" placeholder="Confirm Password">
					</div>
					<button type="submit" class="btn btn-default">Sign up</button> or <a class="action-login">log in</a>
				</form>
			</div>
		</div>
	</div>
	<div id="features">
		<div class="row">
			<article class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
				<div class="icon">
					<i class="icon-bolt"></i>
				</div>
				<h3>Track Everything</h3>
				<p>Use Reportr to track everything that happens in your life: online or offline.</p>
			</article>
			<article class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
				<div class="icon">
					<i class="icon-bar-chart"></i>
				</div>
				<h3>Powerful Visualizations</h3>
				<p>Visualize your data in many differents ways: line chart, pie chart, map, list, etc.</p>
			</article>
			<article class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
				<div class="icon">
					<i class="icon-github"></i>
				</div>
				<h3>Open Source</h3>
				<p>The project is completely open source, you can host your own full private instance.</p>
				<p><a href="https://github.com/SamyPesse/reportr">Learn more</a></p>
			</article>
			<article class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
				<div class="icon">
					<i class="icon-code"></i>
				</div>
				<h3>REST API</h3>
				<p>It’s so easy. With wrappers in Javascript, PHP, Python and more, you can get started in minutes.</p>
				<p><a href="https://github.com/SamyPesse/reportr">Learn more</a></p>
			</article>
  			<div class="clearfix visible-lg"></div>
  			<hr>
			<article class="tracker-twitter col-xs-12 col-sm-6 col-md-4 col-lg-4">
				<div class="icon">
					<i class="icon-twitter"></i>
				</div>
				<h3>Twitter</h3>
				<p>Track your activity on Twitter: tweets, followers, ...</p>
			</article>
			<article class="tracker-facebook col-xs-12 col-sm-6 col-md-4 col-lg-4">
				<div class="icon">
					<i class="icon-facebook"></i>
				</div>
				<h3>Facebook</h3>
				<p>Track your activity on Facebook: relations, messages, ...</p>
			</article>
			<article class="tracker-github col-xs-12 col-sm-6 col-md-4 col-lg-4">
				<div class="icon">
					<i class="icon-github-alt"></i>
				</div>
				<h3>GitHub</h3>
				<p>Track your coding activity: repositories, commits, stars, ...</p>
			</article>
			<article class="tracker-foursquare col-xs-12 col-sm-6 col-md-4 col-lg-4">
				<div class="icon">
					<i class="icon-foursquare"></i>
				</div>
				<h3>Foursquare</h3>
				<p>Track your location from checkin to checkin.</p>
			</article>
			<article class="tracker-home col-xs-12 col-sm-6 col-md-4 col-lg-4">
				<div class="icon">
					<i class="icon-home"></i>
				</div>
				<h3>Home Domotic</h3>
				<p>Track easily your home climate and ambient (humidity, temperature, ...).</p>
			</article>
			<article class="tracker-fitness col-xs-12 col-sm-6 col-md-4 col-lg-4">
				<div class="icon">
					<i class="icon-heart"></i>
				</div>
				<h3>Fitness</h3>
				<p>Track your health data from Runkeeper, Fitbit and others</p>
			</article>
		</div>
	</div>
	<div id="preview" class="hidden-xs">
		<img src="<%- hr.urls.static("images/screens/1.png") %>" />
	</div>
	<div id="footer">
		<div class="copyright">
            <h3>License Apache</h3>
            <p>Made with <i class="icon-heart"></i> by <a href="http://samypesse.fr">Samy Pessé</a></p>
        </div>
	</div>
</div>