<div class="report-header">
	<img src="<%- model.icon() %>" class="model-icon"/>

	<!-- Actions -->
	<div class="btn-group pull-right">
		<a href="#" class="btn btn-default action-toggle-options"><i class="icon-cog"></i></a>
		<a href="#" class="btn btn-default action-report-remove"><i class="icon-remove"></i></a>
	</div>

	<!-- Visualizations -->
	<div class="btn-group pull-right">
		<a data-toggle="dropdown" href="#" class="btn btn-default dropdown-toggle"><%- visualization.name %></a>
		<ul class="dropdown-menu" role="menu">
			<% _.each(visualizations, function(visu) { %>
			<li><a href="#" data-visualization="<%- visu.id %>"><%- visu.name %></a></li>
			<% }); %>
	  	</ul>
	</div>

	<h3 class="model-name"><%- model.get('name') %></h3>
	<p class="model-description"><%- model.get('description') %></p>
</div>
<%= view.component("report."+visualization.id, {
	"report": report
}) %>