<% if (!user.isAuth()) { %>
	<%= template.import("homepage.html", {}, "homepage") %>
<% } else { %>
<div id="dashboard">
	<!-- Lateral bar -->
	<div id="lateralbar">
		<!-- Models -->
		<input type="text" class="search" placeholder="Search" />
		<div class="models">
			<%= view.component("models.list", {
				'collection': user.models
			}, "models") %>
		</div>

		<!-- Footer -->
		<div class="footer">
			<a href="#" class="menu-action action-toggle-editmode" data-appmode='edit'>edit models</a>
		</div>
	</div>

	<!-- Header -->
	<div id="header">
		<a href="#" class="pull-left action action-toggle-lateralmenu"><i class="icon-align-justify"></i></a>
		<a href="#" class="pull-right action action-settings"><i class="icon-cog"></i></a>
		<h2>Reportr</h2>
	</diV>

	<!-- Body -->
	<div id="body">
		<%= view.component("reports", {}, "reports") %>
	</div>
</div>
<% } %>