<div class="reports-list-outer"></div>
<div class="settings">
	<form class="form-horizontal" role="form">
		<div class="row">
			<!-- Trackers -->
			<div class="col-xs-12 col-sm-12 col-md-8 col-lg-8">
				<div class="trackers-list">
					<% _.each(user.get("trackers", []), function(tracker) { %>
					<div class="tracker">
						<img src="<%- hr.urls.static("images/trackers/"+tracker.id+".png") %>" />
						<h3><%- tracker.name %></h3>
						<p><%- tracker.description %></p>
						<div class="tracker-actions">
							<% if (tracker.active) { %>
							<a href="#" class="btn btn-danger btn-block" data-tracker="<%- tracker.id %>">Disable</a>
							<% } else { %>
							<a href="#" class="btn btn-success btn-block" data-tracker="<%- tracker.id %>">Active</a>
							<% } %>
						</div>
					</div>
					<% }); %>
				</div>
			</div>

			<!-- Infos -->
			<div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
				<fieldset>
					<div class="form-group">
						<label for="host" class="control-label">Host</label>
						<input type="text" class="form-control" id="host" placeholder="Host" disabled value="<%- [window.location.protocol, '//', window.location.host].join('') %>">
					</div>
					<div class="form-group">
						<label for="email" class="control-label">Email</label>
						<input type="email" class="form-control" id="email" placeholder="Email" disabled value="<%- user.get('email') %>">
					</div>
					<div class="form-group">
						<label for="token" class="control-label">API token</label>
						<input type="text" class="form-control" id="token" placeholder="API token" disabled value="<%- user.get('token') %>">
					</div>
				</fieldset>
				<button type="submit" class="btn btn-lg btn-default btn-block">Return</button>
				<a href="#" class="btn btn-lg btn-danger action-logout btn-block">Logout</a>
			</div>
		</div>
	</form>
</div>