<div class="modal-dialog modal-lg">
    <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            <h4 class="modal-title">Manage Alerts</h4>
        </div>
        <div class="modal-body">
            <% if (n > 0) { %>
            <div class="btn-toolbar">
                <div class="btn-group">
                    <button class="action-alert-create btn btn-default">Create an alert</button>
                </div>
            </div>
            <% } %>
            <div class="alerts-container"></div>
        </div>
        <div class="modal-footer">
            <button class="btn btn-default action-confirm">OK</button>
        </div>
    </div>
</div>